<footer class="site-footer h-card">
	<div class="wrapper">
		<small class="copyright">&copy; 2020&dash;2024 Stephen Pearce. All rights reserved.</small>
		<ul>
			<li><a href="/feed.xml" target="_blank" title="Get blog posts via RSS">Blog RSS</a></li>
			<li><a href="/games.xml" target="_blank" title="Get release notifications via RSS">Games RSS</a></li>
			<!-- <li><a href="/" target="_blank" title="Get updates via Email">Newsletter</a></li> -->
		</ul>
	</div>
	<data class="p-name" value="Stephen Pearce"></data>
	<data class="p-nickname" value="spdp"></data>
	<data class="u-email" value="{{ site.email }}"></data>
	<data class="u-url" value="{{ site.url }}"></data>
</footer>
