---
layout: default
---
<!-- Output: All Blogs -->
{%- if site.posts.size > 0 -%}
	<div class="post-list-wrap">
		<h2 class="post-list-heading">{{ page.list_title | default: "Blog Archive" }}</h2>
		<ul class="post-list">
			{%- assign sorted_posts = site.posts | sort: 'date' | reverse -%}
			{%- for page in sorted_posts -%}
			{% include date_format.html %}
			<li>
				<span class="post-meta">{{ page.created | date: custom_date_format }}{{ created_suffix }}, {{ page.created | date: "%Y" }}</span>
				<h3>
					<a class="post-link" href="{{ page.url | relative_url }}">
					{{ page.title | escape }}
					</a>
				</h3>
			</li>
			{%- endfor -%}
		</ul>
	</div>
	<div class="clearfix"></div>
	<a href="{{ site.url }}">&larr; Back home</a>
{%- endif -%}