---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
	{%- include head.html -%}
	<body
		{% if page.is_game %}
			class="game"
		{% elsif page.is_page %}
			class="page"
		{% elsif page.is_home %}
			class="home"
		{% elsif page.is_archive %}
			class="archive"
		{% elsif page.is_post %}
			class="post"
		{% endif %}
	>
		{%- include header.html -%}
		<main class="page-content" aria-label="Content">
			<div class="wrapper">
				{{ content }}
			</div>
		</main>
		{%- include footer.html -%}
	</body>
</html>